@model DetayViewModel



<h3>Öğrenci Detayları</h3>
<p>ViewData ile gelen öğrenci:@(((Ogrenci)ViewData["Ogrenci"]).Ad)</p>
<p>ViewBag ile Gelen Öğrenci: @ViewBag.Student.Ad </p>
<p>Model ile gelen öğrenci: @Model.Ogrenci.Ad</p>
<p>Model ile gelen Öğretmen bilgisi:@Model.Ogretmen.Ad</p>
<div>@Model.Ogretmen.Ad</div>

