
@model DetayViewModel


<h3>Öğrenci Detayları</h3>
<p>ViewData ile gelen öğrenci:@(((Ogrenci)ViewData["Ogrenci"]).Ad)</p>
<p>ViewBag ile Gelen Öğrenci: @ViewBag.Student.Ad </p>
<p>Model ile gelen öğrenci: @Model.Ogrenci.Ad</p>
<p>Model ile gelen Öğretmen bilgisi:@Model.Ogretmen.Ad</p>
<div>@Model.Ogretmen.Ad</div>
<p>Html Helpers: HTML kodlarını kullanmadan HTML etiketleri üretmemizi sağlayan C# methodlarıdır.</p>
<p>Render: Razor syntaxı ile oluşturulmuş C# kodlarının tarayıcıların anlayacağı şekilde HTML'e dönüştürülmesine Render denir.</p>
<p>Tag Helper: HTML etiketlerinin attributelerini olusturmada kullanılan asp- ile baslayan yardımcı attributelerdir.</p>
