@model Ogrenci
@{
    ViewData["Title"] = "OgrenciEkle";
    ViewData["Desc"] = "Öğrenci ekleme sayfası";
}

<h1>Ögrenci Ekle</h1>

<form asp-action="OgrenciEkle" asp-controller="Ogrenci" method="post">
    <div>
        <label asp-for="Ad" class="form-label"></label>
        <input asp-for="Ad" class="form-control" />
    </div>
    
    <label asp-for="Soyad"></label>
    <input asp-for="Soyad" />
    <label asp-for="Numara"></label>
    <input asp-for="Numara" />
    <input type="submit" name="btnKaydet" value="Kaydet" />
</form>